.divider-line {
    max-width: 160px;
    width: 95%;
    border-bottom: 2px solid #0041A9;
}

.about-header {
    background-image: url('./Images/AboutHeader.jpg');
    min-height: calc(60vh);
}

.our-story-section {
    padding: 30px 0px;
}

.image-column {
    max-width: 240px;
}

.about-circle-img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    min-width: 120px;
}

.our-story-header {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.about-section-header {
    font-size: 20px;
    font-weight: 600;
    color: #0041A9;
    margin-bottom: 10px;
}

.about-section-text {
    margin: 0px;
}

.our-story-section .d-flex.row-flex,
.our-story-section .d-flex.reverse-row-flex {
    max-width: 850px;
    width: 95%;
    gap: 30px;
    margin-top: 35px;
    height: fit-content;
}


@media (max-width: 1000px) {
    .our-story-section .container {
        max-width: 95%;
    }

    .our-story-section .d-flex.row-flex {
        gap: 15px;
    }
    .our-story-section .solid-blue-button {
        margin-top: 15px;
    }
    
}

@media (max-width: 620px) {
    .our-story-section .about-section-header {
        text-align: center;
    }
    .our-story-section .about-section-text {
        text-align: center;
    }
    .our-story-section .d-flex.row-flex {
        flex-direction: column;
        gap: 20px;
        margin-top: 40px;
    }
    .our-story-section .d-flex.reverse-row-flex {
        flex-direction: column-reverse;
        gap: 20px;
        margin-top: 40px;
    }
    .about-circle-img {
        max-width: 240px;
    }
    .our-story-section .solid-blue-button {
        margin: 15px auto;
    }
}