.nav-spacer {
    height: 56px;
}

.phone-text-white {
    color: #fff !important;
}

.navbar-white-button {
    color: #333;
}

.page-image-header {
    height: auto;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.page-header-content {
    background-color: rgba(0, 65, 169, 0.95);
    max-width: 800px;
    width: 95%;
    height: auto;
    padding: 20px;
}

.page-header-text {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.page-header-sub-text {
    color: #fff;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    width: auto;
}

button:focus {
    outline: none;
    box-shadow: none;
}

.white-header-button {
    background-color: #fff;
    color: #333;
    padding: 7px 15px;
    font-size: 20px;
}

.white-header-button:hover {
    transform: scale(1.02);
}

.solid-blue-button {
    background-color: #0041A9;
    color: #fff;
}

.solid-blue-button:hover {
    background-color: #004cc6;
    transform: scale(1.02);
}

.solid-blue-button i {
    color: #fff;
}

.outline-blue-button {
    background-color: #fff;
    border: 1px solid #0041A9;
    color: #0041A9;
}

.outline-blue-button:hover {
    background-color: #0041A9;
    color: #fff;
}

.outline-gold-button {
    background-color: #fff;
    border: 1px solid goldenrod;
    color: goldenrod;
}

.outline-gold-button:hover {
    background-color: goldenrod;
    color: #fff;
}

.outline-gray-button {
    background-color: #fff;
    border: 1px solid gray;
    color: gray;
}

.outline-gray-button:hover {
    background-color: gray;
    color: #fff;
}

.dropdown-button {
    width: 100%;
    border-bottom: 1.5px solid gray;
    border-radius: 0px;
    text-align: left;
    padding: 0px 2px;
    background-color: #fff;
}

.dropdown-button:focus {
    outline: none;
    box-shadow: none;
}

.dropdown-button p {
    margin: 0px;
}

.blue-input {
    border: none;
    border-bottom: 1.5px solid gray;
    width: 100%;
    margin-bottom: 20px;
}

.blue-input:focus {
    outline: none;
    box-shadow: none;
    border-bottom: 1.5px solid #0041A9;
}

.blue-textarea {
    border: 1.5px solid gray;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 0px;
}

.blue-textarea:focus {
    outline: none;
    box-shadow: none;
    border: 1.5px solid #0041A9;
}

.selection-button {
    padding: 8px 15px;
    width: 90%;
    max-width: 200px;
    border: 1.5px solid #333;
    background-color: #fff;
    font-size: 17px;
    font-weight: 600;
    color: #333;
}

.selection-button-selected {
    color: #fff;
    background-color: #0041A9;
    border: 1.5px solid #0041A9;
}

.selection-button:focus {
    outline: none;
    box-sizing: none;
}

.selection-button:hover {
    cursor: pointer;
    transform: scale(1.02);
}

.spacer{
    height: 20px;
    width: 100%;
}


.contact-info-section {
    height: auto;
    width: 100%;
    background-color: #0041A9;
    padding: 30px 0px;
}

.contact-info-large-text {
    color: #fff;
    font-size: 26px;
    font-weight: 600;
}

.contact-info-small-text {
    max-width: 800px;
    font-size: 17px;
    color: #fff;
}

.contact-info-tiny-text {
    color: #fff;
    font-size: 15px;
    margin: 0px;
}

.contact-icon {
    font-size: 55px;
    color: #fff;
}

.contact-info-section .row {
    max-width: 800px;
}

.newsletter-signup-section {
    width: 100%;
    padding: 30px 0px;
    background-color: #F1F1F1;
}

.newsletter-large-text {
    font-size: 24px;
    font-weight: 700;
}

.newsletter-small-text {
    font-size: 18px;
}

.newsletter-input-field {
    width: 100%;
    height: 38px;
}

.newsletter-signup-section .solid-blue-button {
    margin: 0px;
}

.newsletter-signup-section .d-flex {
    width: auto;
    max-width: 450px;
    gap: 10px;
}

.footer-section {
    padding: 30px 0px;
    background-color: #002240;
    color: #fff;
}

.footer-large-text {
    font-size: 28px;
    font-weight: 700;
}

.footer-medium-text {
    font-size: 18px;
}

.hoverable:hover {
    cursor: pointer;
}

@media (max-width: 500px) {
    .footer-section .d-flex {
        flex-direction: column;
        text-align: center;
    }
    .footer-section .col-6,
    .footer-section .col-2 {
        min-width: 300px;
    }
}

@media (max-width: 770px) {
    .contact-info-section .container {
        max-width: 95%;
    }
}
